<div class="list-content-wrapper" fxLayout="column" fxLayoutAlign="start center" ngClass.xs="mobile">

  <mat-card fxLayout="column" fxLayoutAlign="center" class="cards-wrapper" ngClass.xs="mobile">

    <div class=list-header fxLayoutAlign="end">
      <div class="list-title">
        <span>Business Oportunities</span>
      </div>
    </div>

    <div class="oportunities-wrapper" cdkDropList [cdkDropListData]="oportunities" (cdkDropListDropped)="drop($event)"
      [cdkDropListData]="oportunities" id="list-0">

      <mat-expansion-panel #expansionpanel class="whole-oportunity" (afterCollapse)="afterPanelCollapse(oportunity)"
        *ngFor="let oportunity of oportunities; let i = index" cdkDrag>
        <mat-expansion-panel-header>
          <mat-panel-description>
            <span>{{getRequestHeader(oportunity.request)}}</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-expansion-panel-content class="oportunity-properties" fxLayout="row wrap" fxLayoutAlign="end" cdkDropList
          id="{{ 'list-' + (i + 1)}}" (cdkDropListDropped)="dropPart($event,oportunity)">
          <mat-progress-bar class="oportunity-progress" mode="determinate" value="40"></mat-progress-bar>

          <mat-expansion-panel #request class="oportunity-request oportunity-component">
            <mat-expansion-panel-header>
              <mat-panel-description style="align-items: center;
              padding-right: 20px;">
                <span style="margin-right: 20px;">
                  {{oportunity.request.type}}
                </span>
                <mat-progress-bar mode="determinate" [value]="getRequestProgress(oportunity.request)">
                </mat-progress-bar>
              </mat-panel-description>

            </mat-expansion-panel-header>
            <mat-expansion-panel-content fxLayout="column" fxLayoutAlign="space-between">

              <div class="oportunity-component-section" fxLayout="column">
                <div class="oportunity-component-section-header">
                </div>
                <div class="oportunity-component-form-fields-row" fxLayout="row" fxLayout.xs="column"
                  fxLayoutAlign="space-between">

                  <mat-form-field appearance="outline" ngClass.xs="mobile">
                    <mat-label>Importer Company</mat-label>
                    <mat-select class="importer-company" [(value)]="oportunity.request.importerCompany">
                      <mat-option></mat-option>
                      <mat-option *ngFor="let key of importerCompaniesKeys" [value]="key">
                        {{importerCompanies[key]}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <div class="oportunity-component-divider"></div>

                  <mat-form-field appearance="outline" ngClass.xs="mobile">
                    <mat-label>Requested Material</mat-label>
                    <mat-select class="" [(value)]="oportunity.request.requestedMaterial">
                      <mat-option></mat-option>
                      <mat-option *ngFor="let key of requestedMaterialKeys" [value]="key">
                        {{requestedMaterials[key]}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                </div>
                <div class="oportunity-component-form-fields-row" fxLayout="row" fxLayout.xs="column"
                  fxLayoutAlign="space-between">

                  <mat-form-field appearance="outline" ngClass.xs="mobile">
                    <mat-label>Final Client</mat-label>
                    <mat-select class="" [(value)]="oportunity.request.finalClient">
                      <mat-option></mat-option>
                      <mat-option *ngFor="let key of finalClientsKeys" [value]="key">
                        {{finalClients[key]}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <div class="oportunity-component-divider"></div>

                  <div class="oportunity-component-form-fields-subrow" fxLayout="row" ngClass.xs="mobile">
                    <mat-form-field appearance="outline" ngClass.xs="mobile">
                      <mat-label>Quantity</mat-label>
                      <input matInput placeholder="Quantity" [(ngModel)]="oportunity.request.quantity"
                        style="text-align: right" class="">
                    </mat-form-field>

                    <div class="oportunity-component-divider"></div>

                    <mat-form-field appearance="outline" ngClass.xs="mobile">
                      <mat-label>Unit</mat-label>
                      <mat-select class="" [(value)]="oportunity.request.unit">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let key of unitsKeys" [value]="key">
                          {{units[key]}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                </div>
                <div class="oportunity-component-form-fields-row" fxLayout="row" fxLayout.xs="column"
                  fxLayoutAlign="end">

                  <mat-form-field appearance="outline" ngClass.xs="mobile">
                    <mat-label>Offer date</mat-label>
                    <input matInput [(ngModel)]="oportunity.request.date" [matDatepicker]="requestDatePicker">
                    <mat-datepicker-toggle matSuffix [for]="requestDatePicker">
                      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #requestDatePicker></mat-datepicker>
                  </mat-form-field>

                  <div class="oportunity-component-divider"></div>

                  <mat-form-field appearance="outline" ngClass.xs="mobile">
                    <mat-label>Valid until</mat-label>
                    <input matInput [(ngModel)]="oportunity.request.validUntil"
                      [matDatepicker]="requestValidUntilPicker">
                    <mat-datepicker-toggle matSuffix [for]="requestValidUntilPicker">
                      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #requestValidUntilPicker></mat-datepicker>
                  </mat-form-field>

                </div>
              </div>
              <div mat-dialog-actions fxLayoutAlign="end center">
                <button mat-button (click)="SaveRequest(oportunity.request)"
                  [disabled]="getRequestProgress(oportunity.request) != 100">Save</button>
              </div>
            </mat-expansion-panel-content>
          </mat-expansion-panel>

          <mat-expansion-panel *ngIf="oportunity.offer != undefined" #offer
            class="oportunity-offer oportunity-component">
            <mat-expansion-panel-header>
              <mat-panel-description style="align-items: center;
              padding-right: 20px;">
                <span style="margin-right: 20px;">
                  {{oportunity.offer.type}}
                </span>
                <mat-progress-bar mode="determinate" [value]="getOfferProgress(oportunity.offer)"></mat-progress-bar>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-expansion-panel-content fxLayout="column" fxLayoutAlign="space-between">

              <div class="oportunity-component-section" fxLayout="column">
                <div class="oportunity-component-section-header">
                  <mat-label>Prices</mat-label>
                </div>
                <div class="oportunity-component-form-fields-row three-elements" fxLayout="row" fxLayout.xs="column"
                  fxLayoutAlign="end">

                  <mat-form-field appearance="outline" ngClass.xs="mobile">
                    <mat-label>Amount FOB</mat-label>
                    <input matInput [(ngModel)]="oportunity.offer.amountFob" [disabled]="user | userNotAdmin"
                      style="text-align: right" class="">
                  </mat-form-field>

                  <div class="oportunity-component-divider"></div>

                  <mat-form-field appearance="outline" ngClass.xs="mobile">
                    <mat-label>Total</mat-label>
                    <input matInput [(ngModel)]="oportunity.offer.amountTotal" [disabled]="user | userNotAdmin"
                      style="text-align: right" class="">
                  </mat-form-field>

                  <div class="oportunity-component-divider"></div>

                  <mat-form-field appearance="outline" ngClass.xs="mobile">
                    <mat-label>Currency</mat-label>
                    <mat-select class="" [(value)]="oportunity.offer.currency" [disabled]="user | userNotAdmin">
                      <mat-option></mat-option>
                      <mat-option *ngFor="let key of currenciesKeys" [value]="key">
                        {{currencies[key]}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                </div>
              </div>


              <div class="oportunity-component-form-fields-row" fxLayout="row" fxLayout.xs="column"
                fxLayoutAlign="space-between">

                <!-- <mat-form-field appearance="outline" ngClass.xs="mobile">
                  <mat-label>Final Date</mat-label>
                  <input matInput [(ngModel)]="oportunity.offer.validUntil" [matDatepicker]="offerPicker">
                  <mat-datepicker-toggle matSuffix [for]="offerPicker">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #offerPicker></mat-datepicker>
                </mat-form-field> -->

                <div class="oportunity-component-divider"></div>

                <!-- <mat-form-field appearance="outline" ngClass.xs="mobile">
                  <mat-label>Status</mat-label>
                  <mat-select class="" [(value)]="oportunity.offer.status">
                    <mat-option *ngFor="let key of offerStatusKeys" [value]="key">
                      {{offerStatuses[key]}}
                    </mat-option>
                  </mat-select>
                </mat-form-field> -->

              </div>

            </mat-expansion-panel-content>
          </mat-expansion-panel>

          <mat-expansion-panel *ngIf="oportunity.contract != undefined" #offer
            class="oportunity-contract oportunity-component">
            <mat-expansion-panel-header>
              <mat-panel-description style="align-items: center;
              padding-right: 20px;">
                <span style="margin-right: 20px;">

                </span>
                <mat-progress-bar mode="determinate" [value]="40"></mat-progress-bar>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-expansion-panel-content fxLayout="column" fxLayoutAlign="space-between">
            </mat-expansion-panel-content>
          </mat-expansion-panel>

        </mat-expansion-panel-content>
      </mat-expansion-panel>

    </div>



  </mat-card>
</div>
