<div class="list-content-wrapper" fxLayout="column" fxLayoutAlign="start center" ngClass.xs="mobile">

  <mat-card fxLayout="column" fxLayoutAlign="center" class="cards-wrapper" ngClass.xs="mobile">

    <div class=list-header fxLayoutAlign="end">
      <div class="list-title">
        <span i18n>Business Oportunities</span>
      </div>
    </div>

    <div class="oportunities-wrapper" cdkDropList [cdkDropListData]="oportunities" (cdkDropListDropped)="drop($event)"
      [cdkDropListData]="oportunities" id="list-0">

      <mat-expansion-panel #expansionpanel class="whole-oportunity" (afterCollapse)="afterPanelCollapse(oportunity)"
        *ngFor="let oportunity of oportunities; let i = index" cdkDrag>
        <mat-expansion-panel-header>
          <mat-panel-description style="align-items: center;padding-right: 20px;">
            <div fxLayout="row" style="margin-right:10px;">
              <mat-icon *ngIf="oportunity.offer == undefined ||
                               (oportunity.offer != undefined && oportunity.offer.status.status < 1)">outlined_flag</mat-icon>
              <mat-icon *ngIf="oportunity.offer != undefined && oportunity.offer.status.status == 1">check_circle_outline</mat-icon>
              <mat-icon *ngIf="oportunity.offer != undefined && oportunity.offer.status.status == 2"> mail_outline</mat-icon>
              <mat-icon *ngIf="oportunity.offer != undefined && oportunity.offer.status.status == 3">done</mat-icon>
              <mat-icon *ngIf="oportunity.offer != undefined && oportunity.offer.status.status == 4" style="color: red;">not_interested</mat-icon>
              <mat-icon *ngIf="oportunity.contract != undefined && oportunity.contract.status.status == 0">outlined_flag</mat-icon>
              <mat-icon *ngIf="oportunity.contract != undefined && oportunity.contract.status.status == 1">mail_outline</mat-icon>
              <mat-icon *ngIf="oportunity.contract != undefined && oportunity.contract.status.status == 2"> check_circle_outline</mat-icon>
            </div>
            <span>{{getRequestHeader(oportunity.request)}}</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-expansion-panel-content class="oportunity-properties" fxLayout="row wrap" fxLayoutAlign="end" cdkDropList
          id="{{ 'list-' + (i + 1)}}" (cdkDropListDropped)="dropPart($event,oportunity)">

          <mat-expansion-panel #request class="oportunity-request oportunity-component">
            <mat-expansion-panel-header>
              <mat-panel-description style="align-items: center;
              padding-right: 20px;">
                <span style="margin-right: 20px;">
                  {{oportunity.request.type}}
                </span>
                <mat-progress-bar mode="determinate" [value]="getRequestProgress(oportunity.request)">
                </mat-progress-bar>
              </mat-panel-description>

            </mat-expansion-panel-header>
            <mat-expansion-panel-content fxLayout="column" fxLayoutAlign="space-between">

              <div class="oportunity-component-section" fxLayout="column">
                <div class="oportunity-component-section-header">
                </div>
                <div class="oportunity-component-form-fields-row" fxLayout="row" fxLayout.xs="column"
                  fxLayoutAlign="space-between">

                  <mat-form-field appearance="outline" ngClass.xs="mobile">
                    <mat-label i18n>Importer Company</mat-label>
                    <mat-select class="importer-company" [(value)]="oportunity.request.importerCompany">
                      <mat-option></mat-option>
                      <mat-option *ngFor="let key of importerCompaniesKeys" [value]="key">
                        {{importerCompanies[key]}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <div class="oportunity-component-divider"></div>

                  <mat-form-field appearance="outline" ngClass.xs="mobile">
                    <mat-label i18n>Requested Material</mat-label>
                    <mat-select class="" [(value)]="oportunity.request.requestedMaterial">
                      <mat-option></mat-option>
                      <mat-option *ngFor="let key of requestedMaterialKeys" [value]="key">
                        {{requestedMaterials[key]}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                </div>
                <div class="oportunity-component-form-fields-row" fxLayout="row" fxLayout.xs="column"
                  fxLayoutAlign="space-between">

                  <mat-form-field appearance="outline" ngClass.xs="mobile">
                    <mat-label i18n>Final Client</mat-label>
                    <mat-select class="" [(value)]="oportunity.request.finalClient">
                      <mat-option></mat-option>
                      <mat-option *ngFor="let key of finalClientsKeys" [value]="key">
                        {{finalClients[key]}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <div class="oportunity-component-divider"></div>

                  <div class="oportunity-component-form-fields-subrow" fxLayout="row" ngClass.xs="mobile">
                    <mat-form-field appearance="outline" ngClass.xs="mobile">
                      <mat-label i18n>Quantity</mat-label>
                      <input matInput placeholder="Quantity" [(ngModel)]="oportunity.request.quantity"
                        style="text-align: right" class="">
                    </mat-form-field>

                    <div class="oportunity-component-divider"></div>

                    <mat-form-field appearance="outline" ngClass.xs="mobile">
                      <mat-label i18n>Unit</mat-label>
                      <mat-select class="" [(value)]="oportunity.request.unit">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let key of unitsKeys" [value]="key">
                          {{units[key]}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                </div>
                <div class="oportunity-component-form-fields-row" fxLayout="row" fxLayout.xs="column"
                  fxLayoutAlign="end">

                  <mat-form-field appearance="outline" ngClass.xs="mobile">
                    <mat-label i18n>Offer date</mat-label>
                    <input matInput [(ngModel)]="oportunity.request.date" [matDatepicker]="requestDatePicker">
                    <mat-datepicker-toggle matSuffix [for]="requestDatePicker">
                      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #requestDatePicker></mat-datepicker>
                  </mat-form-field>

                  <div class="oportunity-component-divider"></div>

                  <mat-form-field appearance="outline" ngClass.xs="mobile">
                    <mat-label i18n>Valid until</mat-label>
                    <input matInput [(ngModel)]="oportunity.request.validUntil"
                      [matDatepicker]="requestValidUntilPicker">
                    <mat-datepicker-toggle matSuffix [for]="requestValidUntilPicker">
                      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #requestValidUntilPicker></mat-datepicker>
                  </mat-form-field>

                </div>
              </div>
              <div mat-dialog-actions class="actions-container" fxLayoutAlign="end center">
                <button mat-button (click)="SaveRequest(oportunity.request)"
                  [disabled]="getRequestProgress(oportunity.request) != 100" i18n>Save</button>
              </div>
            </mat-expansion-panel-content>
          </mat-expansion-panel>

          <mat-expansion-panel *ngIf="oportunity.offer != undefined" #offer
            class="oportunity-offer oportunity-component">
            <mat-expansion-panel-header>
              <mat-panel-description style="align-items: center;padding-right: 20px;">
                <span>
                  {{oportunity.offer.type}}
                </span>
                <div fxLayout="row" style="margin: 0 10px;">
                  <mat-icon *ngIf="oportunity.offer.status.status == 1">check_circle_outline</mat-icon>
                  <mat-icon *ngIf="oportunity.offer.status.status == 2"> mail_outline</mat-icon>
                  <mat-icon *ngIf="oportunity.offer.status.status == 3">done</mat-icon>
                  <mat-icon *ngIf="oportunity.offer.status.status == 4" style="color: red;">not_interested</mat-icon>
                </div>
                <mat-progress-bar mode="determinate" [value]="oportunity.offer.status | offerProgress">
                </mat-progress-bar>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-expansion-panel-content fxLayout="column" fxLayoutAlign="space-between">

              <div class="oportunity-component-section" fxLayout="column">
                <div class="oportunity-component-section-header">
                  <mat-label i18n>Prices</mat-label>
                </div>
                <div class="oportunity-component-form-fields-row three-elements" fxLayout="row" fxLayout.xs="column"
                  fxLayoutAlign="end">

                  <mat-form-field appearance="outline" ngClass.xs="mobile">
                    <mat-label i18n>Amount FOB</mat-label>
                    <input matInput [(ngModel)]="oportunity.offer.amountFob" [disabled]="user | userNotAdmin"
                      style="text-align: right" class="">
                  </mat-form-field>

                  <div class="oportunity-component-divider"></div>

                  <mat-form-field appearance="outline" ngClass.xs="mobile">
                    <mat-label i18n>Total</mat-label>
                    <input matInput [(ngModel)]="oportunity.offer.amountTotal" [disabled]="user | userNotAdmin"
                      style="text-align: right" class="">
                  </mat-form-field>

                  <div class="oportunity-component-divider"></div>

                  <mat-form-field appearance="outline" ngClass.xs="mobile">
                    <mat-label i18n>Currency</mat-label>
                    <mat-select class="" [(value)]="oportunity.offer.currency" [disabled]="user | userNotAdmin">
                      <mat-option></mat-option>
                      <mat-option *ngFor="let key of currenciesKeys" [value]="key">
                        {{currencies[key]}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                </div>
                <div class="oportunity-component-form-fields-row" fxLayout="row" fxLayout.xs="column"
                  fxLayoutAlign="end">

                  <mat-form-field appearance="outline" ngClass.xs="mobile">
                    <mat-label i18n>Payment Method</mat-label>
                    <mat-select class="" [(value)]="oportunity.offer.paymentMethod">
                      <mat-option></mat-option>
                      <mat-option *ngFor="let key of paymentMethodsKeys" [value]="key">
                        {{paymentMethods[key]}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                </div>
              </div>

              <div class="oportunity-component-section" fxLayout="column">
                <div class="oportunity-component-section-header">
                  <mat-label i18n>Actions</mat-label>
                </div>

                <div class="oportunity-component-form-fields-row" fxLayout="row" fxLayout.xs="column"
                  fxLayoutAlign="end">

                  <div mat-dialog-actions class="actions-container" fxLayoutAlign="end center">
                    <button mat-button (click)="offerAction(oportunity)">
                      {{oportunity.offer.status | offerAction : user}}</button>
                  </div>

                </div>
              </div>

            </mat-expansion-panel-content>
          </mat-expansion-panel>

          <mat-expansion-panel *ngIf="oportunity.contract != undefined" #contract
            class="oportunity-contract oportunity-component">
            <mat-expansion-panel-header>
              <mat-panel-description style="align-items: center;padding-right: 20px;">
                <span>
                  {{oportunity.contract.type}}
                </span>
                <div fxLayout="row" style="margin: 0 10px;">
                  <mat-icon *ngIf="oportunity.contract != undefined && oportunity.contract.status.status == 0">outlined_flag</mat-icon>
                  <mat-icon *ngIf="oportunity.contract != undefined && oportunity.contract.status.status == 1">mail_outline</mat-icon>
                  <mat-icon *ngIf="oportunity.contract != undefined && oportunity.contract.status.status == 2"> check_circle_outline</mat-icon>
                </div>
                <mat-progress-bar mode="determinate" [value]="40"></mat-progress-bar>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-expansion-panel-content fxLayout="column" fxLayoutAlign="space-between">

              <div class="oportunity-component-section" fxLayout="column">
                <div class="oportunity-component-section-header">
                  <mat-label i18n>Prices</mat-label>
                </div>
                <div class="oportunity-component-form-fields-row" fxLayout="row" fxLayout.xs="column"
                  fxLayoutAlign="end">

                  <mat-form-field appearance="outline" ngClass.xs="mobile">
                    <mat-label i18n>Total</mat-label>
                    <input matInput [(ngModel)]="oportunity.contract.amount" [disabled]="user | userNotAdmin"
                      style="text-align: right" class="">
                  </mat-form-field>

                  <div class="oportunity-component-divider"></div>

                  <mat-form-field appearance="outline" ngClass.xs="mobile">
                    <mat-label i18n>Currency</mat-label>
                    <mat-select class="" [(value)]="oportunity.contract.currency" [disabled]="user | userNotAdmin">
                      <mat-option></mat-option>
                      <mat-option *ngFor="let key of currenciesKeys" [value]="key">
                        {{currencies[key]}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                </div>
                <div class="oportunity-component-form-fields-row" fxLayout="row" fxLayout.xs="column"
                  fxLayoutAlign="end">

                  <mat-form-field appearance="outline" ngClass.xs="mobile">
                    <mat-label i18n>Delivery conditions</mat-label>
                    <mat-select class="" [(value)]="oportunity.contract.deliveryConditions">
                      <mat-option></mat-option>
                      <mat-option *ngFor="let key of deliveryConditionsKeys" [value]="key">
                        {{deliveryConditions[key]}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                </div>
              </div>
            </mat-expansion-panel-content>
          </mat-expansion-panel>

        </mat-expansion-panel-content>
      </mat-expansion-panel>

    </div>



  </mat-card>
</div>
