<app-header [user]="user" (toggleLoginLogout)="onToggleLoginLogoutButton()"></app-header>

<div class="app-body">

  <div *ngIf="user.id !=0" class="users-area" fxLayout="row"  fxLayout.xs="column-reverse" fxLayoutAlign="center">
    <oportunities-list class="list" ngClass.xs="mobile" (itemDrop)="onDropItem($event)"></oportunities-list>
    <oportunities-parts-repo class="repo" ngClass.xs="mobile" [dropListArray]="dropListArray"></oportunities-parts-repo>
  </div>
  <div *ngIf="user.id == 0" class="welcome-area">
    You must login to access the platform
  </div>

</div>

<router-outlet></router-outlet>
