<div class="list-content-wrapper" fxLayout="column" fxLayoutAlign="start center" ngClass.xs="mobile">
    <div class=list-header fxLayoutAlign="space-between start">
        <!-- <div class="select-all-wrapper">
            <mat-checkbox class=""></mat-checkbox>
        </div> -->
        <div class="list-title">
            <span>files</span>
            <button mat-icon-button class="" ngClass.xs="is-mobile">
                <mat-icon class="icon-add" svgIcon="add"></mat-icon>
            </button>
        </div>
    </div>

    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between start" class="cards-wrapper"
        ngClass.xs="mobile">
        <mat-accordion fxLayoutAlign="space-around space-around" class="file-wrapper" ngClass.xs="mobile"
            *ngFor="let file of files; let i = index">
            <div class="mat-icon-download-wrapper">
                <button mat-icon-button class="mat-icon-download" ngClass.xs="is-mobile">
                    <mat-icon class="icon-download" svgIcon="download"></mat-icon>
                </button>
            </div>

            <mat-expansion-panel #expansionpanel class="whole-file" (afterExpand)="afterPanelExpand(inputRef)"
                (afterCollapse)="afterPanelCollapse(file)">
                <mat-expansion-panel-header>
                    <mat-panel-description>
                        <mat-card class="file" fxLayout="row-reverse" fxLayoutAlign="row-reverse center">
                            <mat-card-title class="file-title mobile" fxLayout="row" fxLayoutAlign="start center"
                                [matTooltip]="file.name">
                                <input matInput #inputRef [(ngModel)]="file.name" class="file-name"
                                    [disabled]=!expansionpanel.expanded (keydown.Space)="$event.stopPropagation()">
                            </mat-card-title>
                        </mat-card>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="file-properties" fxLayout="row wrap" fxLayoutAlign="end">
                    <span>{{getFileStatus(file.status)}}</span>
                    <span class="file-properties-divider"></span>
                    <span class="file-properties-divider"></span>
                    <div>
                        <span>{{file.size}}</span>
                        <span class="file-properties-divider"></span>
                        <span>{{getFileSizeUnit(file.sizeUnit)}}</span>
                    </div>
                </div>
                <div>
                    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>