<div class="dialog-wrapper">

  <div mat-dialog-content>

    <mat-label i18n>Client response</mat-label>
    <mat-divider class="create-account-divider"></mat-divider>
    <mat-button-toggle-group #group="matButtonToggleGroup" style="width:100%">
      <mat-button-toggle value="accepted" (change)="selectionChanged($event)" style="width:50%">
        <mat-icon i18n>check</mat-icon>

      </mat-button-toggle>
      <mat-button-toggle value="rejected" (change)="selectionChanged($event)" style="width:50%">
        <mat-icon i18n>close</mat-icon>

      </mat-button-toggle>
    </mat-button-toggle-group>

    <mat-divider class="create-account-divider"></mat-divider>

    <mat-form-field appearance="outline" ngClass.xs="mobile" *ngIf="group.value == 'rejected'">
      <mat-label i18n>Reason</mat-label>
      <mat-select class="" [(value)]="selectedReason" (selectionChange)="selectedReasonChanged($event)">
        <mat-option *ngFor="let key of rejectedReasonsKeys" [value]="key">
          {{rejectedReasons[key]}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

</div>
